#weathermain {
  alignment: center;
  display: block;
  width: 300px;
  background: black;
  color: white;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 0%);
}

#errWeatherReport {
  width: fit-content;
  background: white;
  color: red;
  animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker { to { opacity: 0; } }

.weatherRow {
  display: block;
  margin:0 auto;
  width: fit-content;
}

.searchCities {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

#city {
  width: 60%;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
}

.currentLoct {
  border: none;
  background-color: inherit;
  padding: 14px 8px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  color: Orange;
}

.searchWeather {
  background-color: black;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  color: white;
  border-radius: 10px;
  width: fit-content;
}

.clearSearch {
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
}

.iconSunWeather {
  font-size: 50px;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow(1px 1px 10px yellow);
}

.iconMoonWeather {
  font-size: 50px;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  color: white;
  filter: drop-shadow(1px 1px 10px white);
}
