<div class="mainClass">
  <div class="searchCities">
    <h1 style="font-size: 32px; margin-top: 5px;">Weather Forecast</h1>
    <br/>
    <label style="font-size: 20px">
      Search:
      <input type="text" id="city" placeholder="Enter City Name" [(ngModel)]= "cityName" />
    </label>
    &nbsp;
    <button class="clearSearch" (click)="clear()" >Clear</button>
    <br/>
    <!--    <p style="font-size: 16px; align-content: center">(Or)</p>-->
    <button class="currentLoct" (click)="onCurrentLocation()"><mat-icon>location_on</mat-icon>Use Current location</button>
    <br/>
    <br/>
    <button class="searchWeather" (click)="weatherOnSearch()" >Click here for Weather forecast</button>
  </div>
  <br/>
  <div *ngIf="isShown">
    <div id="errWeatherReport" *ngIf="isError" style="font-size: 25px; font-weight: bold; margin-top: 5px;">{{weatherInfo.errorMessage}}</div>
    <div id="weathermain" *ngIf="!isError">
      <br/>
      <div class="weatherRow" style="font-size: 32px; margin-top: 5px;">{{weatherInfo.temp_celcius}}°</div>
      <div class="weatherRow" style="font-size: 16px;margin-top: 10px;">{{weatherInfo.temp_min}}° / {{weatherInfo.temp_max}}°</div>
      <div class="weatherRow" style="font-size: 16px; margin-top: 10px;">Feels Like: {{weatherInfo.temp_feels_like}}</div>
      <div class="weatherRow" style="font-size: 25px; margin-top: 10px;">{{weatherInfo.name}}</div>
      <div class="weatherRow" style="font-size: 18px; margin-top: 10px;">{{weatherInfo.weatherDesc}}</div>
      <br/>
    </div>
  </div>
</div>
